@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
	color: white;
	font-family: inter;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0px;
	overflow-x: hidden;
}
#page {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: filter 0.3s ease-in-out;
}
h1 {
	font-size: 40px;
	user-select: none;
}
#close-icon {
	position: absolute;
	right: 10px;
	top: 20px;
	cursor: pointer;
}
.glosa {
	display: flex;
	font-size: 20px;
	font-weight: 700;
	margin-right: 30px;
	user-select: none;
	text-wrap: nowrap;
}
.svar {
	height: 40px;
	border-radius: 100px;
	border: 1px solid rgb(255, 255, 255, 0.1);
	background-color: rgba(31, 31, 31, 0.1);
	outline: none;
	caret-color: white;
	padding-left: 20px;
	color: white;
	display: flex;
	width: 80%;
	font-size: 15px;
	font-weight: 600;
	transition: border 0.2s ease-in-out;
}
.glosa-och-svar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.divider {
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}
#menu-icon {
	position: fixed;
	left: 30px;
	top: 30px;
	user-select: none;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
#menu-icon:hover {
	transform: scale(1.05);
}
#menu-button {
	border-radius: 10px;
	border: 1px rgba(255, 255, 255, 0.05) solid;
	width: 30px;
	position: absolute;
	left: 15px;
	top: 3px;
	margin: 0px;
}
#menu {
	height: 100%;
	width: 0px;
	z-index: 1;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgb(12, 39, 43);
	border: 1px rgba(255, 255, 255, 0.05) solid;
	filter: drop-shadow(5px 5px 3px #00000025);
	transition: width 0.2s cubic-bezier(0.5, 1.4, 0.5, 1);
	display: flex;
	align-items: center;
	padding-top: 60px;
	box-sizing: border-box;
	flex-direction: column;
}
#menu-background {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
.menu-item {
	width: 85%;
	height: 45px;
	background-color: rgba(31, 31, 31, 0.1);
	display: flex;
	align-items: center;
	padding-left: 20px;
	border-radius: 10px;
	border: 1px rgba(255, 255, 255, 0.05) solid;
	transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out,
		height 0.3s ease-in-out;
	margin-bottom: 20px;
	cursor: pointer;
	text-decoration: none;
}
.menu-item:hover {
	background-color: rgba(102, 102, 102, 0.2);
	border: 1px solid transparent;
	border-top: 1.5px rgba(255, 255, 255, 0.05) solid;
}
.menu-icon {
	margin-right: 5px;
	fill: transparent;
	transition: all 0.2s ease-in-out;
}
.menu-item-title {
	color: transparent;
	transition: all 0.2s ease-in-out;
}
#restart {
	width: 20%;
	height: 40px;
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255, 0.1);
	background-color: rgba(31, 31, 31, 0.1);
	color: white;
	font-family: inter;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
}
#restart:hover {
	border: 1px solid transparent;
	background-color: rgba(102, 102, 102, 0.2);
	border-top: 1.5px rgba(255, 255, 255, 0.05) solid;
	width: 21%;
}
