@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	margin: 0px;
	overflow-x: hidden;
	user-select: none;
}
:root {
	color: white;
	font-family: inter;
	display: flex;
	font-weight: 500;
	background-color: rgb(12, 39, 43);
}
::-webkit-scrollbar {
	display: none;
}
#titlebar {
	margin-top: 7.5px;
	width: 100dvw;
	height: 35px;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	z-index: 10;
	top: 0px;
}
#background {
	width: 100dvw;
	height: 100dvh;
	backdrop-filter: url(#background-effect) grayscale() brightness(20%);
	position: fixed;
	pointer-events: none;
}
